.content h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 510px) {
    .list {
        justify-content: center;
    }
}